<ul id="context-tabs">
  <li class="tab selected" id="tab-structure"
      data-tab="structure">Structure</li>
  <li class="tab" id="tab-routes"
      data-tab="routes">Routes</li>
</ul>
<iframe class="tab-frame" id="frame-routes"
        src="/{{ project }}/context/routes"></iframe>
<iframe class="tab-frame" id="frame-structure"
        src="/{{ project }}/context/dom?route=/"></iframe>
<script src="/javascripts/jquery-1.10.1.min.js"></script>
<script src="/javascripts/context.js"></script>