<ul id="routes">
  {{#key_value routes}}
  <li>
    <a href="putfallbackhere" data-route="{{key}}">{{key}}</a>
  </li>
  {{/key_value}}
</ul>
<button id="create-route">Create new route</button>
<script src="/socket.io/socket.io.js"></script>
<script src="/socket.io/socket.io-sessions.js"></script>
<script src="/javascripts/jquery-1.10.1.min.js"></script>
<script src="/javascripts/routes.js"></script>