<ul id="routes">
  {{#key_value routes}}
  <li>
    <a href="putfallbackhere" data-route="{{key}}">{{key}}</a>
  </li>
  {{/key_value}}
</ul>
<button id="create-route">Create new route</button>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/jquery-1.10.1.min.js"></script>
<script>
  var socket = io.connect('http://local.dev');
  $('#routes a').click(function(e) {
      e.preventDefault();
      socket.emit('routechange-in',
        { route: e.target.attributes['data-route'].value });
  })
</script>
