<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <link rel='stylesheet' href='/stylesheets/core.css' />
</head>
<body>
{{{body}}}
<footer>
  {{{footer}}}
</footer>
<script src="/socket.io/socket.io.js"></script>
<script src="/socket.io/socket.io-sessions.js"></script>
<script src="/javascripts/jquery-1.10.1.min.js"></script>
<script>
  var socket = io.connectWithSession('http://local.dev');
  $('#routes a').click(function(e) {
    e.preventDefault();
    socket.emit('routechange-in',
      { route: e.target.attributes['data-route'].value });
  })
</script>
</body>
</html>