<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <link rel='stylesheet' href='/stylesheets/core.css' />
  {{{styles}}}
</head>
<body>
{{{body}}}
<footer>
  {{{footer}}}
</footer>
</body>
</html>