<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <link rel='stylesheet' href='/stylesheets/core.css' />
</head>
<body>
<h1>Routes</h1>
{{{body}}}
<footer>
  {{{footer}}}
</footer>
</body>
</html>