<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/core.css' />
  </head>
  <body>
    <iframe class="core-frame" id="context"    src="/<%= project %>/context"></iframe>
    <iframe class="core-frame" id="output"     src="/<%= project %>/output?route=/users/list"></iframe>
    <iframe class="core-frame" id="toolbox"    src="/<%= project %>/toolbox"></iframe>
  </body>
</html>