<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/core.css' />
  </head>
  <body>
    <iframe class="core-frame" id="context"    src="/context"></iframe>
    <iframe class="core-frame" id="output"     src="/output"></iframe>
    <iframe class="core-frame" id="toolbox"    src="/toolbox"></iframe>
  </body>
</html>