h2 {
  display: block;
  clear: both;
  color: grey;
  font-weight: normal;
  font-size: 11px;
  text-align: right;
  margin-right: 17px;
  margin-top: 3px;
  margin-bottom: 0px;
}
ul.toolbar {
  width: 140px;
  display: block;
  padding-left: 0px;
  height: 100px;
  margin-top: 0px;
}
ul.toolbar li {
  display: block;
  width: 50px;
  height: 50px;
  float: left;
  font-size: 12px;
  border: 1px solid #555;
  margin: 3px;
  padding: 5px;
}
ul.toolbar li:hover {
  background-color: #eaf2c2;
}