<!-- some kind of conditional or helper or something should make user of the
"page" context variable passed in to highlight the currently visited page -->
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/users">Users</a></li>
</ul>
<include src="recent_news"></include>