<h2>Toolbox</h2>

<!-- TODO: this should come from a plugin -->
<ul class="toolbar">
  <li id="tool-select"
      data-plugin="core" data-tool="select">Select</li>
  <li id="tool-tag-h1"
      data-plugin="core" data-tool="tag-h1">&lt;h1&gt;</li>
  <li id="tool-tag-div"
      data-plugin="core" data-tool="tag-div">&lt;div&gt;</li>
  <li id="tool-tag-span"
      data-plugin="core" data-tool="tag-span">&lt;span&gt;</li>
  <li id="tool-layout"
      data-plugin="core" data-tool="layout">Layout</li>
</ul>

<script src="/javascripts/jquery-1.10.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/socket.io/socket.io-sessions.js"></script>
<script src="/javascripts/toolbox.js"></script>