<ul>
  {{#each recent_statuses}}
  <li>
    <h3>{{this.title}}</h3>
    <p>{{this.description}}</p>
  </li>
  {{else}}
  <p class="empty">No news is, in this case, bad news.</p>
  {{/each}}
</ul>
{{{bottombox}}}