<!-- getting waaaaay ahead of ourselves now -->
<div id="form-create-status">
  <form name="createstatus" id="createstatus">
    <textarea name="status">What's up, yo?</textarea>
    <input type="submit" value="Update status">
  </form>
</div>