<div id="group-user-info">
  <span>{{user.name}}</span>
  <img src="{{user.avatar}}">
  <p><span id="btn-user-info-more">More...</span><span
    id="btn-user-info-less">Less...</span></p>
  <div id="box-user-info-description">{{user.description}}</div>
</div>