html, body {
  height: 100%;
  overflow-y: hidden;
}
#context-tabs {
  padding-left: 0px;
  margin-left: 0px;
}
#context-tabs li {
  margin-left: 10px;
  list-style-type: none;
  float: left;
  font-size: 12px;
  height: 15px;
  border: 1px solid grey;
  padding: 3px;
}
#context-tabs li.selected {
  background-color: #2F6FAD;
}
iframe.tab-frame {
  border: none;
  width: 250px;
  height: calc(100% - 50px);
  position: absolute;
  top: 50px;
  left: 0px;
}
#frame-routes, #frame-datasources {
  visibility: hidden;
}