<makomi-each var="users" makomi-id="f82c72">
  <li makomi-id="7846cd">
    <h4 makomi-id="1dc199"><makomi-var name="this.name" makomi-id="5e0416">{{this.name}}</makomi-var></h4>
    <p makomi-id="1dfa07"><makomi-var name="this.description" makomi-id="e07bad">{{this.description}}</makomi-var></p>
  </li>
  <makomi-each-first makomi-id="90ed7f"></makomi-each-first>
  <makomi-each-last makomi-id="a1cbf7"></makomi-each-last>
  <makomi-each-empty makomi-id="a8a8d5">
    <p class="empty" makomi-id="2c7cb1">No bob found :-/</p>
  </makomi-each-empty>
</makomi-each>