<!-- wraps a template around us -->
<parent src="layout.ejs" >
    <payload yieldpoint="col1">
        A user widget should go here:
        <child src="users/user.ejs"></child>
    </payload>
    <payload yieldpoint="col2">
        <h1><%= route.title %></h1>
        <p>I am the <%= route.title %></p>
    </payload>
    <payload yieldpoint="col3">
        Static content in column 3.
    </payload>
</parent>
