<!DOCTYPE html>
<html>
<head>
  <title><makomi-var name="title"></makomi-var></title>
  <link rel="stylesheet" href="/stylesheets/foundation.min.css"/>
  <link rel="stylesheet" href="/stylesheets/layout.css"/>
</head>
<body>
<div id="hero">
  <h1><div class="row"></div><makomi-var name="title" id="auto-4f51e7">Slightly more complicated than Hello, World</makomi-var></h1>
</div>
<div class="row"></div><div id="user">
  <makomi-target name="userprofile"></makomi-target>
</div>
<div id="col1">
  Column 1:
  
</div>

<div style="width: 382px; height: 57px;">I'll just leave this here.<div class="row"></div></div>



<div id="col2">
  Column 2:<makomi-target name="col2"></makomi-target>
</div>
<div id="col3">
  Column 3:
<makomi-target name="col3"></makomi-target>
</div>
<makomi-include src="footer"></makomi-include>
</body>
</html>