<!DOCTYPE html>
<html>
<head>
  <title><makomi-var name="title"></makomi-var></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div id="hero">
  <h1><makomi-var name="title"></makomi-var></h1>
</div>
<div id="user">
  <makomi-target name="userprofile"></makomi-target>
</div>
<div id="col1">
  Column 1:
  <makomi-target name="col1"></makomi-target>
</div>
<div id="col2">
  Column 2:
  <makomi-target name="col2"></makomi-target>
</div>
<div id="col3">
  Column 3:
  <makomi-target name="col3"></makomi-target>
</div>
<makomi-include src="footer"></makomi-include>
</body>
</html>