#auto-763f8b {
  height: 46px;
  width: 500px;
}

#auto-70210d {
  height: 58px;
  width: 239px;
}

#auto-96b1e3 {
  height: 29px;
  width: 548px;
}

#auto-eeb3e3 {
  height: 20px;
  width: 101px;
}

#auto-7bd5d2 {
  height: 68px;
  width: 198px;
}

#auto-bac294 {
  height: 61px;
  width: 275px;
}

#auto-b2fed3 {
  height: 62px;
  width: 325px;
}

#auto-4f51e7 {
  height: 116px;
  width: 779px;
}

#col1 {
  height: 18px;
  width: 828px;
}

#auto-69f6e9 {
  height: 84px;
  width: 492px;
}