body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

#auto-763f8b {
  height: 46px;
  width: 243px;
}

#auto-70210d {
  height: 58px;
  width: 471px;
}

#auto-96b1e3 {
  height: 17px;
  width: 548px;
}

#auto-eeb3e3 {
  height: 17px;
  width: 96px;
}

#auto-7bd5d2 {
  height: 45px;
  width: 378px;
}

#auto-bac294 {
  height: 61px;
  width: 275px;
}