<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>I am a list of users:</p>
<ul>
    <li>User1</li>
    <li>User2</li>
    <li>User3</li>
</ul>
</body>
</html>